<template name="personPage">
	<div id="pPage">
		<div class="row xx">
			<div class="col-lg-8">
				<div class="well">
					<h4><strong>{{> personItem}}</strong></h4>
					<hr>
					<p><b>Date of Birth:</b> 		{{bdate}}</p>
					<p><b>Place of Birth:</b> 	{{pdate}}</p>
					<p><b>Email id:</b>			{{email}}</p>
					<p><b>Religion:</b>			{{religion}}</p>
					<p><b>Nationality:</b></p>
					<p><b>Marital Status:</b>	{{marital_status}}</p>
					<p><b>Gender:</b>			{{gender}}</p>
					<p><b>Caste/ Category</b>	{{category}}</p>

				</div>

				<div class="well">
					<p>Family Information</p>
					<hr>
					<p><b>Father's Name:</b>			{{father_name}}</p>
					<p><b>Is your Father Living:</b>		{{father_status}}</p>
					<p><b>Father's Occupation:</b>		{{father_work}}</p>
					<p><b>Mother's Name:</b>			{{mother_name}}</p>
					<p><b>Is your Mother Living:</b>		{{mother_status}}</p>
					<p><b>Mother's Occupation:</b>		{{mother_work}}</p>
					<p><b>Names of siblings:</b>		{{siblings_name}}</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well">
					<p><strong>Bank Details</strong></p>
					<hr>
					<p><b>Bank Name</b>:		{{bank_name}}</p>
					<p><b>Account No</b>:		{{account}}</p>
					<p><b>Branch Address</b>:	{{baddress}}</p>
				</div>

				<div class="well">
					<p>Contact Information</p>
					<hr>
					<p><b>Landline number:</b>		{{land_number}}</p>
					<p><b>Mobile Number:</b>		{{pmobile_number}}</p>
					<p><b>Address:</b>				{{address}}</p>
				</div>
			</div>
		</div>

		
	</div>
</template>
